---
import { Image } from "astro:assets";
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import RootLayout from "../layouts/root-layout.astro";
import { ListVilla, VillaMap } from "../shared/data/villas";
import type { Villa } from "../shared/types";

const props = Astro.props as { villaSlug: Villa["slug"] };
const villa = VillaMap[props.villaSlug];
---

<RootLayout>
  <Navbar />
  <section id="hero" class="p-6 lg:p-25 pt-[6.75rem] flex flex-col items-center justify-start gap-y-20">
    <h3 class="text-2xl lg:text-4xl font-bold text-black w-full lg:w-1/2 text-center">
      Pilih Villa yang Sesuai dengan Gaya Liburan Anda
    </h3>

    <div class="w-full gap-y-6 flex flex-col items-center justify-center">
      <select class="w-full lg:hidden px-6 py-3 bg-[#111222] rounded-lg text-white font-bold">
        {ListVilla.map((villa) => (
          <option value={villa.slug} selected={villa.slug === props.villaSlug} disabled={!villa.isAvailable}>{villa.shortName}</option>
        ))}
      </select>

      <div class="tab-nav">
        {ListVilla.map((villa) => (
          <button class="tab-btn" data-tab={villa.slug} disabled={!villa.isAvailable}>{villa.shortName} {!villa.isAvailable && <div class="w-6 h-6 rounded-sm bg-[#434343]" />}</button>
        ))}

        <div class="tab-indicator"/>
        <div class="hover-tab-indicator"/>
      </div>

      <div class="relative w-full h-[20rem] lg:h-[40rem] rounded-3xl bg-gray-200" >
        <Image
        src={villa.imageUrl}
        alt={`${villa.name} Cover Image`}
        loading="eager"
        class="w-full h-full object-cover rounded-3xl"
        />
        <div class="absolute top-0 left-0 w-full h-full rounded-3xl bg-black/35" >
      </div>
    </div>
  </section>
  <section id="detail" class="p-6 lg:p-25 pb-20 space-y-20 block lg:flex lg:flex-row lg:items-start lg:justify-center lg:gap-x-20">
    <div class="space-y-8">
      <div class="space-y-4">
        <div class="space-y-1">
          <h1 class="font-bold text-2xl lg:text-5xl text-black">
            {villa.name}
          </h1>
          <div class="flex flex-row items-center gap-4">
            <div class="flex flex-row items-center gap-4">
              <div class="size-5 lg:size-6 rounded-sm bg-[#434343]" />
              <span class="text-sm lg:text-xl text-[#434343]">
                {villa.buildingCount} Bangunan
              </span>
            </div>
            <div class="flex flex-row items-center gap-4">
              <div class="size-5 lg:size-6 rounded-sm bg-[#434343]" />
              <span class="text-sm lg:text-xl text-[#434343]">
                {villa.roomCount} Kamar ({villa.personCapacity} Orang)
              </span>
            </div>
          </div>
        </div>

        <p class="text-sm lg:text-lg text-[#434343]">
          {villa.description}
        </p>
      </div>

      <div class="space-y-4">
        <h2 class="font-bold text-base lg:text-3xl text-black">
          Fasilitas
        </h2>
        <div class="grid grid-cols-2 gap-4">
          {villa.facilities.map((facility) => (
            <div class="flex flex-row items-center gap-4">
              <div class="size-5 lg:size-6 rounded-sm bg-[#434343]" />
              <span class="text-sm lg:text-xl text-[#434343]">
                {facility}
              </span>
            </div>
          ))}
        </div>
      </div>

      <div class="grid grid-cols-2 gap-10">
        <div class="w-full h-full rounded-xl bg-gray-200" >
          <Image
            src={villa.bedroomDetail.imageUrl}
            alt={`${villa.name} Cover Image`}
            loading="eager"
            class="w-full h-full object-cover rounded-xl"
          />
        </div>
        <div class="space-y-6">
          <h2 class="font-bold text-base lg:text-3xl text-black">
            Detail Kamar
          </h2>
          <div class="space-y-4">
            {villa.bedroomDetail.facilities.map((facility) => (
              <div class="flex flex-row items-start gap-4">
                <div class="size-5 lg:size-6 rounded-sm bg-[#434343] shrink-0" />
                <span class="text-sm lg:text-xl text-[#434343]">
                  {facility}
                </span>
              </div>
            ))}
          </div>
        </div>
      </div>

      <div class="space-y-4">
        <h2 class="font-bold text-base lg:text-3xl text-black">
          Galeri Fasilitas
        </h2>
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
          {villa.facilityImageUrls.map((url) => (
            <div class="w-full h-24 lg:h-48 rounded-lg bg-gray-200" >
              <Image
                src={url}
                alt={`${villa.name} Facility Image`}
                loading="eager"
                class="w-full h-full object-cover rounded-lg"
              />
            </div>
          ))}
        </div>
      </div>

      <div class="space-y-4">
        <h2 class="font-bold text-base lg:text-3xl text-black">
          Ketentuan Umum
        </h2>
        <p class="text-sm lg:text-lg text-[#434343] whitespace-pre-line">
          {villa.termsAndCondition}
        </p>
      </div>
    </div>

    <div class="space-y-8 sticky top-36">
      <div class="px-6 py-10 space-y-6 rounded-lg bg-[#F2F2F2]">
        <div class="space-y-2">
          <h2 class="font-bold text-base lg:text-3xl text-black">
            Harga Sewa (Sewaktu-waktu bisa berubah)
          </h2>

          <p class="text-sm lg:text-xl text-[#434343]">
            Weekend: <strong>{villa.price.weekend.toLocaleString('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0, maximumFractionDigits: 0 })}</strong>
          </p>
          <p class="text-sm lg:text-xl text-[#434343]">
            Weekdays: <strong>{villa.price.weekday.toLocaleString('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0, maximumFractionDigits: 0 })}</strong>
          </p>

          <p class="text-xs lg:text-sm text-[#434343] whitespace-pre-line">
            {villa.price.note}
          </p>
        </div>

        {villa.price.downPayment && (
          <div class="space-y-2">
            <h2 class="font-bold text-base lg:text-3xl text-black">
              DP/Down Payment
            </h2>
            <p class="text-sm lg:text-xl text-[#434343]">
              {villa.price.downPayment.note}
            </p>
          </div>
        )}
      </div>
      <div class="px-6 py-10 space-y-6 rounded-lg bg-[#F2F2F2]">
        <div class="space-y-2">
          <h2 class="font-bold text-base lg:text-3xl text-black">
            Informasi Kontak
          </h2>

          <table>
            <tbody>
              {villa.contact.instagrams.map((instagram, index) => (
                <tr>
                  <td class={index === 0 ? 'text-sm lg:text-xl text-[#434343] opacity-100 pr-2 align-top' : 'opacity-0 pr-2 align-top'}>Instagram:</td>
                  <td class="text-sm lg:text-xl text-[#434343]">{instagram}</td>
                </tr>
              ))}
              {villa.contact.villaManagers.map((manager, index) => (
                <tr>
                  <td class={index === 0 ? 'text-sm lg:text-xl text-[#434343] opacity-100 pr-2 align-top' : 'opacity-0 pr-2 align-top'}>Pengelola Villa:</td>
                  <td class="text-sm lg:text-xl text-[#434343]">{manager.phoneNumber} ({manager.name})</td>
                </tr>
              ))}
              {villa.contact.villaGuardians.map((guardian, index) => (
                <tr>
                  <td class={index === 0 ? 'text-sm lg:text-xl text-[#434343] opacity-100 pr-2 align-top' : 'opacity-0 pr-2 align-top'}>Penjaga Villa:</td>
                  <td class="text-sm lg:text-xl text-[#434343]">{guardian.phoneNumber} ({guardian.name})</td>
                </tr>
              ))}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <Footer />
</RootLayout>
<style>
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
  }
  .tab-nav {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      background-color: #F3F2F0;
      padding: 8px;
      border-radius: 8px;
      position: relative;
    }

  @media (max-width: 768px) {
    .tab-nav {
      display: none;
    }
  }


  .tab-btn {
    font-weight: 600;
    font-size: 16px;
    color: #111222;
    border-radius: 8px;
    padding: 14px 24px;
    cursor: pointer;
    background-color: transparent;
    z-index: 2;
    text-align: center;
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  .tab-indicator {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #111222;
    border-radius: 8px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;

    height: calc(100% - 16px);
  }

  .hover-tab-indicator {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(17, 18, 34, 0.1);
    border-radius: 8px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;

    height: calc(100% - 16px);
    transform: translateX(0%);

    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
</style>
<script>
  const tabs = document.querySelectorAll<HTMLElement>('.tab-btn');
  const indicator = document.querySelector<HTMLElement>('.tab-indicator');
  const hoverIndicator = document.querySelector<HTMLElement>('.hover-tab-indicator');

  const url = window.location.pathname;
  const villaSlug = url.split('/').pop();

  let selectedTabIndex = Array.from(tabs).findIndex(tab => tab.getAttribute('data-tab') === villaSlug);
  let hoveredTabIndex = null;

  // update active tab button color to white
  tabs[selectedTabIndex].style.color = 'white';

  // move indicator to active tab button
  if (indicator) {
    indicator.style.transform = `translateX(${selectedTabIndex * 100}%)`;
  }

  // set inidicator width to match tab button width
  if (indicator && tabs[0]) {
    indicator.style.width = `${tabs[0].offsetWidth}px`;
  }

  const moveIndicator = (idx: number) => {
    if (indicator) {
      indicator.style.transform = `translateX(${idx * 100}%)`;
    }

    indicator!.style.width = `${tabs[idx].offsetWidth}px`;

    // Reset all tab button colors
    tabs.forEach(tab => (tab.style.color = '#111222'));

    // Highlight the selected tab button
    tabs[idx].style.color = 'white';
  };

  const moveHoverIndicator = (idx: number | null) => {
    if (!hoverIndicator) return;

    if (idx === null) {
      hoverIndicator.style.opacity = '0';
      return;
    }

    hoverIndicator.style.opacity = '1';
    hoverIndicator.style.transform = `translateX(${idx * 100}%)`;
    hoverIndicator.style.width = `${tabs[idx].offsetWidth}px`;
  };

  for (let i = 0; i < tabs.length; i++) {
    tabs[i].addEventListener('click', () => {
      moveIndicator(i);
      selectedTabIndex = i;

      // wait a bit before navigating
      setTimeout(() => {
        const villaSlug = tabs[i].getAttribute('data-tab');
        if (villaSlug) {
          if (document.startViewTransition) {
            document.startViewTransition(() => location.assign(`/villa/${villaSlug}`));
          } else {
            location.assign(`/villa/${villaSlug}`);
          }
        }
      }, 100);
    });

    tabs[i].addEventListener('mouseover', () => {
      if (i === selectedTabIndex) return;

      hoveredTabIndex = i;
      moveHoverIndicator(hoveredTabIndex);
    });

    tabs[i].addEventListener('mouseout', () => {
      if (i === selectedTabIndex) return;

      hoveredTabIndex = null;
      moveHoverIndicator(hoveredTabIndex);
    });
  }

  // Handle select dropdown change
  const select = document.querySelector('select');
  select?.addEventListener('change', (event) => {
    const target = event.target as HTMLSelectElement;
    const selectedVillaSlug = target.value;
    if (document.startViewTransition) {
      document.startViewTransition(() => location.assign(`/villa/${selectedVillaSlug}`));
    } else {
      location.assign(`/villa/${selectedVillaSlug}`);
    }
  });
</script>
